<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            id="me.anyx.terminal4e.view"
            name="%view.name"
            category="org.eclipse.ui.category.system"
            class="me.anyx.terminal4e.ui.TerminalView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
         id="me.anyx.terminal4e.preferences"
         name="%preference.page.name"
         class="me.anyx.terminal4e.ui.TerminalPreferencePage">
      </page>
      </extension>
         <extension
            point="org.eclipse.ui.startup">
            <startup
               class="me.anyx.terminal4e.ui.ProjectTerminalAutoOpenStartup">
            </startup>
         </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               id="me.anyx.terminal4e.openInTerminal"
               name="%command.openInTerminal.name">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="me.anyx.terminal4e.ui.OpenInTerminalHandler"
               commandId="me.anyx.terminal4e.openInTerminal">
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
            <command
                  commandId="me.anyx.terminal4e.openInTerminal"
               icon="icons/terminal-16.png"
                  label="%command.openInTerminal.label"
                  style="push">
            </command>
         </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.jdt.ui.PackageExplorer#PopupMenu?after=additions">
            <command
                  commandId="me.anyx.terminal4e.openInTerminal"
               icon="icons/terminal-16.png"
                  label="%command.openInTerminal.label"
                  style="push">
            </command>
         </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.ui.views.ResourceNavigator#PopupMenu?after=additions">
            <command
                  commandId="me.anyx.terminal4e.openInTerminal"
               icon="icons/terminal-16.png"
                  label="%command.openInTerminal.label"
                  style="push">
            </command>
         </menuContribution>
      </extension>
</plugin>
